body
{
  background-color: rgb(41, 108, 62);
}

header
{
  box-shadow: inset;
}

nav
{ 
  box-shadow: 0 0 20px brown;
  top: 0%;
  width: auto;
  text-align: center; 
  background-color: darkcyan;
}

nav > a
{
  text-decoration: none;
  font-size: xx-large;
  color: brown;
  padding: .5rem;
  padding-bottom: 0px;
}

.name
{
  color: brown;
  font-family: 'Times New Roman', Times, serif ;
  box-shadow: inset;
  text-align: left;
  font-size: x-large;
  padding-left: 15px;
}

h1
{
    text-shadow: 2px 2px 15px black;
    border-bottom: .65rem solid brown;
    margin-left: 27%;
    margin-right: 27%;
    text-align: center;
    color: cadetblue;
}

a:hover
{
  color: aquamarine;
}

.active
{
    text-shadow: 2px 3px 6px wheat;
  border-bottom: 3px solid wheat;
}

.portfolio
{
    margin-left: 25%;
    margin-right: 24%;
    text-align: center;
    width: 50%;
    background-color: darkcyan;
    color: brown;
    font-size: x-large;
    border: 3px solid brown;
    box-shadow: 0 0 12px wheat;
}

.Justin
{
   margin-left: 46%;
   margin-right: 46%;
   width: fit-content;
   padding: 10px;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 3px;
   padding-bottom: 3px;
   text-shadow: 2px 3px 3px rgb(0, 0, 0);
   border: 3px groove darkcyan;
   text-align: center;
   background-color: brown;
}
.aboutMe
{
    margin-left: 25%;
    margin-right: 24%;
    text-align: center;
    width: 50%;
    background-color: darkcyan;
    color: brown;
    font-size: x-large;
    border: 3px solid brown;
    box-shadow: 0 0 12px wheat;
}
.quote
{
    font-size: x-large;
    color: brown;
    border: 3px  outset brown;
    border-color: brown;
    border-radius: 12px;
    margin-right: 65%;
    background-color: darkcyan;
    box-shadow: 0 0 12px wheat;
}

footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: darkcyan;
    color: brown;
    font-size: x-large;
    border: 3px solid brown;
    box-shadow: 0 0 12px wheat;
  }
  img
  {
    box-shadow: outset;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 500px;
    width: auto;
    box-shadow: 0 0 12px wheat;
  }
  .textRight
  {
    height: 250px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 3px  outset brown;
  }

  .hello
  {
    margin-left: 25%;
    margin-right: 24%;
    text-align: center;
    width: 50%;
    background-color: darkcyan;
    color: brown;
    font-size: x-large;
    border: 3px solid brown;
    box-shadow: 0 0 12px wheat;
  }
  .textLeft
  {
    height: 250px;
    margin-right: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 3px  outset brown;
    height: 200px;
  }